appnope==0.1.0; sys_platform == 'darwin'
backcall==0.1.0
click==7.0
decorator==4.4.1
entrypoints==0.3
flake8==3.7.9
flask==1.1.1
flask-shell-ipython==0.4.1
ipython==7.11.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.2
jinja2==2.10.3
markupsafe==1.1.1
mccabe==0.6.1
parso==0.5.2
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==3.0.2
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
pygments==2.5.2
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.8
werkzeug==0.16.0
